/* @tailwind base; */
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ART_Regular';
  src: url('./fonts/nextArt/NEXT ART_Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ART_Bold';
  src: url('./fonts/nextArt/NEXT ART_Bold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ART_Heavy';
  src: url('./fonts/nextArt/NEXT ART_Heavy.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ART_Light';
  src: url('./fonts/nextArt/NEXTART_Light.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ART_SemiBold';
  src: url('./fonts/nextArt/NEXT ART_SemiBold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'terminatorGen';
  src: url('./fonts/terminatorGen/terminatorgen.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('./fonts/roboto/Roboto-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('./fonts/roboto/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('./fonts/roboto/Roboto-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}
